.FormField {
  width: 100%;
  margin-top: 2em;
}

input {
  font-size: 1em;
  color: white;
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--accent);
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  padding: 0.5em 0;
}

.FormField input:focus {
  background-color: #16202e;
  outline: none;
}

.FormField p {
  font-size: 0.9em;
  color: var(--accent);
}